.Modal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* Background blur */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-Container {
  width: 85%;
  // TODO: Fix it if not so much data
  height: calc(725px + 2vmin);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #150b14;
  overflow: hidden;
}

.Data-Container {
  max-height: 650px;
  margin-top: 15px;
  overflow-y: auto;
}

.Modal-Header {
  display: flex;
  justify-content: space-between;
}

.Modal-Header .Tab-Change-Menu {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .Active {
    background-color: #d279e3;
    color: #150b14;
  }
}

.Modal-Header button {
  cursor: pointer;
  font-family: 'MedievalSharp', cursive;
  font-size: calc(8px + 1vmin);
  font-size: 1.1rem;
  font-weight: 600;

  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #d279e3;
  color: #d279e3;

  padding: 10px;
  margin: 1rem 0;
  transition: all 0.3s ease;
}

.Modal-Header button:hover {
  background-color: #d279e3;
  color: #150b14;
}

.Modal-Header .Buttons .Close-Button {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.LeaderboardData {
  display: table;
  width: 100%;
  max-height: 750px;
  overflow-y: auto;
  white-space: nowrap;

  .NoData {
    justify-content: center;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: calc(7px + 1.5vmin);
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #3a203e;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

//TODO: Change it
.SearchFilterSorting .Note {
  font-size: medium;
}
