.Card {
  position: relative;

  .Card-Front,
  .Card-Back {
    width: calc(130px + 2vmin);
    height: calc(130px + 2vmin);
    display: block;
    border-radius: 10px;
  }

  .Card-Front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    backface-visibility: hidden;
  }

  .Flipped .Card-Front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    backface-visibility: visible;
  }

  .Card-Back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    backface-visibility: visible;
  }

  .Flipped .Card-Back {
    transform: rotateY(90deg);
    transition-delay: 0s;
    backface-visibility: hidden;
  }

  .Matched {
    pointer-events: none;
  }

  -webkit-animation: transformer 1s ease-in 0s 1;
  animation: transformer 1s ease-in 0s 1;
}
@-webkit-keyframes transformer {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(0.95);
  }
}
@keyframes transformer {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}
