.Card {
  position: relative;

  .Card-Front,
  .Card-Back {
    width: calc(140px + 2vmin);
    height: calc(140px + 2vmin);
    display: block;
    border-radius: 10px;
  }

  .Card-Front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    backface-visibility: hidden;
  }

  .Flipped .Card-Front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    backface-visibility: visible;
  }

  .Card-Front[wobble='1'] {
    animation: wobble 1s 1;
  }

  .Card-Back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    backface-visibility: visible;
  }

  .Flipped .Card-Back {
    transform: rotateY(90deg);
    transition-delay: 0s;
    backface-visibility: hidden;
  }

  .Matched {
    pointer-events: none;
  }

  -webkit-animation: transformer 1s ease-in 0s 1;
  animation: transformer 1s ease-in 0s 1;
}

@-webkit-keyframes wobble {
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wobble {
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes transformer {
  0% {
    -webkit-transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(0.95);
  }
}
@keyframes transformer {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}

@media (min-width: 1200px) and (min-height: 1000px) {
  .Card .Card-Front,
  .Card .Card-Back {
    width: calc(140px + 2vmin);
    height: calc(140px + 2vmin);
  }
}

@media ((min-width: 768px) and (min-height: 900px)) and ((max-width: 1200px) and (min-height: 900px)) {
  .Card .Card-Front,
  .Card .Card-Back {
    width: calc(120px + 2vmin);
    height: calc(120px + 2vmin);
  }
}

@media ((min-width: 480px) and (min-height: 700px)) and ((max-width: 768px) and (min-height: 700px)) {
  .Easy .Card .Card-Front,
  .Easy .Card .Card-Back {
    width: calc(87px + 2vmin);
    height: calc(87px + 2vmin);
  }

  .Normal .Card .Card-Front,
  .Normal .Card .Card-Back,
  .Hard .Card .Card-Front,
  .Hard .Card .Card-Back {
    width: calc(60px + 2vmin) !important;
    height: calc(60px + 2vmin) !important;
  }
}

@media (max-width: 480px) {
  .Easy .Card .Card-Front,
  .Easy .Card .Card-Back {
    width: calc(65px + 2vmin) !important;
    height: calc(65px + 2vmin) !important;
  }

  .Normal .Card .Card-Front,
  .Normal .Card .Card-Back,
  .Hard .Card .Card-Front,
  .Hard .Card .Card-Back {
    width: calc(50px + 2vmin) !important;
    height: calc(50px + 2vmin) !important;
  }
}
