.Burger-Settings-Menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 1vh;
  width: 300px;
  z-index: 2;

  .Settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    // background-color: #29183c;
    background-color: #281526;
    border-right: 2px solid white;
    gap: 1rem;
    padding-top: 4rem;
    height: 100vh;
    width: 20rem;
    transform: translateX(-20rem);
  }

  .Settings.Active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0rem);
  }

  .Settings-Button {
    width: 30px;
    height: 30px;
    padding: 1rem;
    margin-inline: 0.75rem;
    z-index: 10;
  }

  .Settings-Button:hover {
    animation: spinning 3s infinite linear;
  }
}

@keyframes spinning {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}
@-webkit-keyframes spinning {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}
