.Burger-Settings-Menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  font-family: 'MedievalSharp', cursive;
  top: 0;
  left: 0;
  height: 1vh;
  width: 300px;
  z-index: 2;

  .Settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    // background-color: #29183c;
    background-color: #281526;
    border-right: 2px solid white;
    gap: 1rem;
    padding-top: 4rem;
    height: 100vh;
    width: 20rem;
    transform: translateX(-20rem);
  }

  .Settings.Active {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0rem);
  }

  .Sounds-Button,
  .Music-Button,
  .Settings-Button {
    width: calc(25px + 1vmin);
    height: calc(25px + 1vmin);
    padding: 1rem;
  }

  .Settings-Button {
    margin-inline: 0.75rem;
    z-index: 10;
  }

  .Settings-Button:hover {
    animation: spinning 3s infinite linear;
  }

  .Settings-Title {
    padding: 0;
    margin: 0;
  }

  .Volume-Slider {
    opacity: 0.7;
    width: 14rem;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    accent-color: #d279e3;
  }

  .Volume-Slider:hover {
    opacity: 1;
  }

  .Game-Mode-Setting,
  .Game-Parameters-Setting {
    border: none;
    padding: 0;

    .Radio-Group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-block: 0.5rem;

      .Radio-Element {
        font-size: large;
        margin: 0.5rem;

        input[type='radio'] {
          accent-color: #d279e3;
        }
      }

      .Tooltip {
        .Tooltip-Text {
          visibility: hidden;
          text-align: center;
          font-size: medium;
          position: absolute;

          background-color: #29183c;
          color: #ffffff;

          width: 18rem;
          padding: 8px;
          border-radius: 6px;

          transition: opacity 0.6s;
          opacity: 0;
          z-index: 1;

          margin-left: 5px;
        }
      }

      .Tooltip:hover .Tooltip-Text {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@keyframes spinning {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}
@-webkit-keyframes spinning {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}
