body {
  background-color: #150b14;
  overflow: hidden;
}

.App {
  text-align: center;
  color: white;
  font-size: calc(6px + 2vmin);

  .App-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: calc(8px + 1vmin);
    margin-top: 1rem;
    color: white;
    background-color: #150b14;
    font-family: 'MedievalSharp', cursive;
    text-align: center;

    a:visited {
      color: #d279e3;
    }
  }

  .Game-Panel {
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #150b14;
    font-family: 'MedievalSharp', cursive;
    text-align: center;

    .Score-Panel {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .Stats {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    h1 {
      margin: 0 0 1.5rem 0;
    }

    .Start-Button {
      cursor: pointer;
      width: fit-content;
      font-size: calc(10px + 1.5vmin);
      font-family: 'MedievalSharp', cursive;
      background-color: #150b14;
      color: white;
      border: 0.15rem white solid;
      border-radius: 10px;
      padding: 0.5rem 2rem;
      font-weight: 600;
      margin: 0;
    }

    .Start-Button:hover {
      background-color: white;
      color: #150b14;
    }

    .Turns-Count,
    .Paired-Cards-Count,
    .Tip {
      margin: 2rem 0 0 0;
      padding: 0;
    }
  }

  .Game-Canvas {
    display: flex;
    justify-content: center;

    .Cards-Grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2rem;
      margin-top: 2rem;
    }
  }
}
