body {
  background-color: #150b14;
  overflow: hidden;
}

.App {
  text-align: center;
  color: white;
  font-size: calc(6px + 2vmin);

  .App-Header {
    padding-block: 2rem;
    width: 100%;
    font-family: 'MedievalSharp', cursive;
    text-align: center;

    h1 {
      margin: 0 0 1.5rem 0;
    }

    .Start-Button {
      cursor: pointer;
      width: fit-content;
      font-size: calc(10px + 1.5vmin);
      font-family: 'MedievalSharp', cursive;
      background-color: #150b14;
      color: white;
      border: 0.15rem white solid;
      border-radius: 10px;
      padding: 0.5rem 2rem;
      font-weight: 600;
      margin: 0;
    }

    .Start-Button:hover {
      background-color: white;
      color: #150b14;
    }
  }

  .App-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: calc(8px + 1vmin);
    margin-top: 1rem;
    color: white;
    background-color: #150b14;
    font-family: 'MedievalSharp', cursive;
    text-align: center;

    a:visited {
      color: #d279e3;
    }
  }

  .Game-Info-Panel {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #150b14;
    font-family: 'MedievalSharp', cursive;
    text-align: center;

    .Score-Panel {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .Stats {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    .Turns-Count,
    .Paired-Cards-Count,
    .Time-Count,
    .Tip {
      margin: 0.5rem 0 0 0;
      padding: 0;
    }
  }

  .Game-Canvas {
    display: flex;
    justify-content: center;

    .Cards-Grid {
      display: grid;
      grid-gap: 2rem;
      margin-top: 2rem;
    }

    .Easy {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .Normal {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .Card {
        .Card-Front,
        .Card-Back {
          width: calc(110px + 2vmin);
          height: calc(110px + 2vmin);
        }
      }
    }

    .Hard {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      .Card {
        .Card-Front,
        .Card-Back {
          width: calc(75px + 2vmin);
          height: calc(75px + 2vmin);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .App .Game-Canvas .Cards-Grid {
    grid-gap: 2rem;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .App .Game-Canvas .Cards-Grid {
    grid-gap: 1.75rem;
    margin-top: 1.75rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .App .Game-Canvas .Cards-Grid {
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
  }

  .App .App-Header h1 {
    font-size: 1.4rem;
  }

  .Start-Button {
    font-size: calc(7px + 1.5vmin) !important;
  }

  .Settings-Button {
    width: calc(20px + 1vmin) !important;
    height: calc(20px + 1vmin) !important;
  }

  .App .Game-Canvas .Normal {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }

  .App .Game-Canvas .Hard {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
  }
}

@media (max-width: 480px) {
  .App .Game-Canvas .Cards-Grid {
    grid-gap: 1rem;
    margin-top: 1rem;
  }

  .App .App-Header h1 {
    font-size: 1.1rem;
  }

  .Start-Button {
    font-size: calc(7px + 1.5vmin) !important;
  }

  .Radio-Group .Radio-Element {
    font-size: calc(7px + 1.5vmin) !important;
  }

  .Settings-Button,
  .Sounds-Button,
  .Music-Button {
    width: calc(17px + 1vmin) !important;
    height: calc(17px + 1vmin) !important;
  }

  .App .Game-Canvas .Normal {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }

  .App .Game-Canvas .Hard {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
  }
}

@media (max-height: 900px) {
  .App .Game-Canvas {
    overflow-y: scroll;
  }
}
